.comments__title {
  color: var(--white);
  text-align: center;
}
.comment {
  border-bottom: dashed 2px var(--white);
  color: var(--white);
}

.comment__date {
  font-weight: bold;
  font-size: 8px;
  font-size: 0.8rem;
  color: var(--white);
  margin-bottom: 0.6em;
}

.comment__text {
  color: var(--white);
  font-size: large;
}
