.info {
  background-color: var(--background-color-teritiary);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.back {
  text-decoration-line: underline;
  cursor: pointer;
}

.description__section {
  background-color: var(--background-color-teritiary);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.description__container {
  color: var(--white);
}

.description__text {
  padding: 3em 3em;
  font-size: x-large;
}
