.info {
  background-color: var(--background-color-teritiary);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.back {
  text-decoration-line: underline;
  cursor: pointer;
}
