.title__holder {
  background-color: var(--background-color-teritiary);
}

.title__holder h1 {
  padding: 2em;
  text-align: center;
  font-weight: 400;
  color: var(--white);
  text-transform: uppercase;
}

.warning {
  text-align: center;
}
