.legend {
  color: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.textarea {
  width: 100%;
  border-radius: 16px;
  padding: 1em;
}

.button {
  padding: 1em 3em;
  width: fit-content;
  background-color: var(--white);
  border-radius: 16px;
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--white);
}
